
main > section:nth-child(1){
    
  }
.divContainerShowProducts00{
    display: flex;
    flex-flow: column nowrap;
    gap:1rem;
    align-items: center;
    font-family: Montserrat, sans-serif;
}

  .divContainerShowProducts00 > div > div  {

  display: flex;
  flex-flow: column nowrap;
  }

  .divContainerShowProducts00 > div:nth-child(6) > div:nth-child(1)   {
    display: flex;
    flex-flow: row nowrap;
    gap: .5rem;
    }

    .divContainerShowProducts00 > div:nth-child(7) > div:nth-child(1)   {
      display: flex;
      flex-flow: row nowrap;
      gap: .5rem;
      }