.divContainerSalesView00 > div:nth-child(1) {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  background-color: rgb(236, 234, 234);
}
.divContainerSalesView00 > div:nth-child(1) > h3 {
  width: 7rem;
  text-align: left;
  font-family: Montserrat, sans-serif;
  padding: 0.5rem;
}
.divContainerSalesView00 > div:nth-child(2) > div {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
}

.divContainerSalesView00 > div:nth-child(2) {

  display: flex;
  flex-flow: column nowrap;
  height: 20rem;
  overflow: scroll;
  padding: 0 2rem 0 0;
  gap: 1rem;
  background-color: rgb(241, 241, 241);
}

.divContainerSalesView00 > div:nth-child(2)::-webkit-scrollbar-thumb {

  background-color: rgb(206, 205, 204);
  border-radius: 0.2rem;
  transition: 1s;

}

.divContainerSalesView00 > div:nth-child(2)::-webkit-scrollbar {
  width: 1vw;
  height: 0rem;

  transition: 1s;
}


.divContainerSalesView00 > div:nth-child(2) > div > h3 {
  font-family: Montserrat, sans-serif;
  width: 7rem;
  padding: 0.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.divContainerSalesView00 > div:nth-child(3) {
  display: flex;
  flex-flow: row nowrap;
 margin: 1rem 0 0 0;
}

.divContainerSalesView00 > div:nth-child(3) > div:nth-child(1) {
  display: flex;
  flex-flow: row nowrap;
  background-color: rgb(236, 236, 235);
}

.divContainerSalesView00 > div:nth-child(3) > div:nth-child(2) {
  display: flex;
  flex-flow: row nowrap;
  background-color: rgb(236, 236, 235);
}

.divContainerSalesView00 > div:nth-child(3) > div:nth-child(1) > h3 {
  font-family: Montserrat, sans-serif;
  padding: 0.5rem;
}

.divContainerSalesView00 > div:nth-child(3) > div:nth-child(2) > h3 {
  font-family: Montserrat, sans-serif;
  padding: 0.5rem;
}
