
@media only screen and (max-width: 750px) {
   
    .divContainerSalesView00{
     overflow: scroll; 
    display: flex;
    flex-flow: column wrap;
   
    } 


      .divContainerSalesView01 {
        flex-flow: column nowrap;
      }

  }
