.divContainerSalesView00 > div:nth-child(1) {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  background-color: rgb(236, 234, 234);
}
.divContainerSalesView00 > div:nth-child(1) > h3 {
  width: 7rem;
  text-align: left;
  font-family: Montserrat, sans-serif;
  padding: 0.5rem;
}
.divContainerSalesView00 > div:nth-child(2) > div {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
}

.divContainerSalesView00 > div:nth-child(2) > div > h3 {
  font-family: Montserrat, sans-serif;
  width: 7rem;
  padding: 0.5rem;
  overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
}
